:root {
  --bg-dark: #0a0a0a;
  --bg-card: #161616;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --accent-color: #00d2ff; /* Robotic Cyan */
  --font-main: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: var(--font-main);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}